{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>

<h4>{{=T('Stay tuned!')}}</h4>
<ul>
  <li>{{=T('This is a Instagram killer')}}</li>
  <li>{{=T(request.application.split('_')[0].capitalize()+' will work on SailfishOS')}}</li>
  <li>{{=T(request.application.split('_')[0].capitalize()+' will work on Meego Harmattan OS')}}</li>
  <li>{{=T(request.application.split('_')[0].capitalize()+' will work on MaemoOS')}}</li>
  <li>{{=T(request.application.split('_')[0].capitalize()+' will work on BlackberryOS')}}</li>
  <li>{{=T(request.application.split('_')[0].capitalize()+' will work on Android')}}</li>
  <li>{{=T(request.application.split('_')[0].capitalize()+' will work on IOS')}}</li>
    <li>{{=T(request.application.split('_')[0].capitalize()+' is open source and source code can be found ')}}<a href="http://github.com/mike7b4/instacat">here</a></li>
</ul>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}
