{{extend 'layout.html'}}
<script type="text/javascript">
    function show_image(uuid, title)
    {
        //  	jQuery('#full_image').fadeIn();
        jQuery('#dialog').dialog({ width: jQuery(window).innerWidth(), height: jQuery(window).innerHeight(), title: title, closeOnEscape: false});
        jQuery('#dialog').load("../images/ajax_image_from_uuid/"+uuid);
    }

    function hide_image()
    {
    	jQuery("#dialog").dialog("close");
    }	
</script>
{{=title}}
<center>{{=BEAUTIFY(form)}}</center>
{{count=0}}
<div style="margin-left: auto; margin-right: auto; width: 80%;">
{{for image in images:}}
    <!-- span style="margin-left: 10px; margin-right: 10px; margin-top: 10px; height: 300px;" -->
    <img style="margin-top: 10px;" class="image" src="{{=URL("download", args=image.filename).replace(".jpg", "_small.jpg").replace(".png", "_small.png")}}" onclick="javascript:show_image('{{=image.uuid}}','{{=T("Album ")+title+" "+image.title}}')" />
<!--/span -->

{{pass}}
</div>

{{if request.user_agent().is_mobile:}}
{{else:}}
<div id="dialog" title="?" onclick="javascript:hide_image();">
</div>
{{pass}}
