{{extend 'layout.html'}}
<h1>Upload new image</h1>
<div style="float: left; width: 40%;">
{{=BEAUTIFY(form)}}
</div>
<div style="float: right; border-style: solid; border-width: 1px; height: 300px; width: 380px;">
{{#if filename>"":}}
    <img style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: auto; horizontal-align: middle; vertical-align: middle; width: 320px; height: 240px;" src="{{=URL('download',args=filename).replace(".jpg", "_small.jpg").replace(".png", "_small.png") }}" />
{{#pass}}
</div>
